body{
    margin: 0px 2em 0px 2em;
}

main{
    width:1500px;
}

p{
    margin:5px;
}

h1{
    margin:5px;
    padding:10px;
}


h2{
    margin:0px;
    padding:1em;
}

hr{
    grid-column: 1/2;
}

button{
    height:fit-content;
}

fieldset{
    display: grid;
    background-color: rgb(255, 255, 255);
    align-items: center;
    
    grid-template-columns: 1fr 1fr;     
    grid-template-rows: 1fr;
    padding:1em;
}

label{
    grid-column: 1;
}

input{
    width:fit-content;
    grid-column: 2;
}

.form-title-container{
    display: flex;
    align-items: center;
    z-index: 1;
}

form{
    padding:1em;
    border-radius: 15px;
    background-color: rgb(198, 228, 241);
    box-shadow: 1px 1px 5px 1px;
}



#cv-photo-container{
    grid-column: 1;
    grid-row: 1;
    border:solid;
    background-color: grey;
}

.hidden-form{
    display: none;
    animation: opacity 2.5s reverse;
}

.unhidden-form {
    display: grid;
    animation: opacity 2.5s both;
}


  
  @keyframes opacity {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform:translateX(10px);  
      opacity: 1;
    }
  }

#cv-display-container{
    width: 21cm;
    height: 29.7cm;
    border:solid;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding:1em;
    
}

#cv-head-container{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    border:solid;
    height:20%;
    width: 100%;
}

#cv-photo-container{
    grid-column: 1;
    height:20%;
}

#names-container{
    display: flex;
    padding:0.5em;
    font-size: xx-large;
}

#info-container{
    padding:0.5em;
}

#main-content{
    display: grid;
    padding: 0em 5em 0em 5em;
    grid-template-columns: 2fr 3fr;
    gap:2em;
}

#left-column{
    display:flex;
    flex-direction: column;
    margin:1em;
}

