.user-details{
    display: flex;
    flex-direction: column;
}

#first-name-container, 
#surname-container,
#phone-container,
#email-container{
    display:none;
}

.form-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:solid;
}